.wrapper {
  width: 100%;
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.list {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  font-size: 0.8rem;
  /* cursor: grab; */
}

.listItem {
  padding: 1rem;
}
