.wrapper {
  overflow: hidden;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.lightBlue {
  composes: wrapper;
  background: linear-gradient(135deg, #00d5ff, #00a7c9);
}

.medBlue {
  composes: wrapper;
  background: linear-gradient(135deg, #0da6f2, #0a81bd);
}

.darkBlue {
  composes: wrapper;
  background: linear-gradient(135deg, #005496, #003359);
}

.cyan {
  composes: wrapper;
  background: linear-gradient(135deg, #00d5ff, #00a7c9);
}

.darkCyan {
  composes: wrapper;
  background: linear-gradient(135deg, #4d9ecc, #28678b);
}

.yellow {
  composes: wrapper;
  background: linear-gradient(135deg, #ffc543, #ff8c00);
}

.purple {
  composes: wrapper;
  background: linear-gradient(135deg, #8d82b6, #605880);
}

.green {
  composes: wrapper;
  background: linear-gradient(135deg, #33c986, #009e91);
}
